body {
    margin: 0;
    padding: 50px;
    display: flex;
    background-color: rgb(225, 225, 248);
    align-items: center;
    justify-content: center;
}

.buttonActive {
    background-color: green;
    color: rgb(255, 255, 255);
}

.buttonPassiv {
    background-color: grey;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px rgb(84, 89, 165) solid;
    background-color: rgb(215, 214, 255);
    padding-bottom: 15px;
    font-size: 30px;
    border-radius: 15px;
    width: max-content;
    padding: 100px;
}

form button {
    width: 350px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
}

form input {
    width: 350px;
    height: 50px;
    font-size: 20px;
}

.pErrorName {
    font-weight: large;
}

img {
    max-width: auto;
    border: 5px rgb(0, 0, 0) solid;
    margin-bottom: 15px;
}

#quiz {
    border: 1px black solid;
    padding: 20px;
    background-color: rgb(28, 28, 85);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 15px;
    width: max-content;
    padding: 80px;
    border: 5px solid rgb(11, 11, 48);
}

#quiz h2 {
    margin-top: 0;
}

#quiz button {
    margin-top: 15px;
    width: 400px;
    height: 60px;
    font-size: 25px;
    background-color: rgb(215, 213, 247);
    border-radius: 25px;
}

#quiz input {
    margin-left: 40px;
    height: m;
    margin-top: 20px;
    margin-bottom: 20px;
}


#result {
    background-color: #7d82c0;
    border: 5px rgb(37, 18, 52) solid;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.divQuestion {
    border: 5px rgb(37, 18, 52) solid;

    margin-bottom: 5px;
    width: 1000px;
}

.divQuestion p {
    padding: 5px;
    text-align: left;
}

#result button {
    width: 300px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(225, 220, 255);
}

#result h1,
p {
    text-align: center;
}

.correct {
    background-color: rgb(123, 200, 123);
}

.uncorrect{
    background-color: rgb(182, 90, 90);
}